{% extends './Main.html' %}
{%load static%}
{%block title%} Home {%endblock%}

{%block content%}
 
<section class="py-5 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-7 mx-auto">
        <h1 class="fw-light">Sign in</h1>
      
        <p>
          <div class="row">
             <form>
              <div class="form-group">
                <label>Username</label>
                  <input name="" class="form-control"  type="text">
              </div> <!-- form-group// -->
              <div class="form-group">
                
                <label>password</label>
                  <input class="form-control" placeholder="******" type="password">
              </div> <!-- form-group// --> 
              <div class="form-group"> 
              <div class="checkbox">
                <label> <input type="checkbox"> Save password </label>
                <a class="float-right" href="#">Forgot?</a>
              </div> <!-- checkbox .// -->
              </div> <!-- form-group// -->  
              <div class="form-group">
                <a href="/admin" class="float-right btn btn-outline-primary"> Login  </a>
                  <a href="/register" class="float-right btn btn-outline-primary">Sign up</a>
              </div> <!-- form-group// -->                                                           
          </form>
          </article>
          </div> <!-- card.// -->
            

          <!-- <a href="/login.html" class="btn btn-primary my-2">Create New Account </a>
  
          <a href="#" class="btn btn-primary my-2">Login</a> -->

        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">Produse noi in stoc</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.name_part }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">in stoc</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


{%endblock content%}