{% extends 'store/Main.html' %}


{% load static %}

{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Reverse image search</h1>
      <p class="lead text-muted">Incarca poza cu piesa pe care doresti sa o cauti.</p>
      <p>
        
          
          <form method="post" enctype="multipart/form-data">
          {% csrf_token %} 

          <input class="form-control" type="file" name="image">
          <button type="submit" class="btn btn-primary my-2">Upload</button>
          <!--<a href="/item/{{categoria}} " class="btn btn-primary my-2">Search</a> -->
          </form> 
          {% if sim < 0.40 %}
          <p class="lead text-muted">unrecognized part</p>
          {% endif %}
          {% if sim > 0.40 and sim < 0.8 %}
          {% for product in products %}
          {% if  product.name_part == categoria %} 
          <div class="col">
            <div class="card shadow-sm">
              <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
              <div class="card-body">
                <p class="card-text">
                 <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.name_part }}</a>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">in stoc</small>
                </div>
              </div>
            </div>
          </div>    

          {% endif %}
          {% endfor %}
          {% endif %}

          {% if sim > 0.8 and sim < 1 %}
            {% for product in products %}
              {% if  product.name_part == categoria %} 
              <a class="btn btn-primary" href="/item/{{product.slug}}" role="button">Link</a>
              {% endif %}
            {% endfor %}
          {% endif %}

          {{categoria}} {{sim}}
         
  
{% endblock %}
        
        <!--<a href="#" class="btn btn-primary my-2">Choose a photo</a> -->
            
      </p>
    </div>
  </div>
</section>



  


    
